.loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading::after{
    content: "";
    width: 75px;
    height: 75px;
    border: 10px solid white;
    border-top:10px rgb(2, 47, 2) solid;
    border-radius: 50%;
    animation:  loading 1s infinite ease-in;
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }
    to{
        transform: rotate(1turn);
    }
}